[2014-09-03 14:54] bryanl opened #1 "Add support for gopkg.in"

[2014-09-08 00:27] #1 closed, assigned to nobody

[2014-11-13 03:00] andrewsomething opened #11 "Invalid request for Droplet Actions that require parameters"
Droplet Actions that require parameters like Resize and Rename do not seem to work. For example:

[code]

Always returns:
[code]

It looks to me that the requests get built like:

[code]

[2015-01-19 18:51] cannona commented on #11
Any updates?  This is kinda' a big deal.

[2015-01-20 19:00] #11 closed

[2015-01-27 12:18] ddo opened #17 "Invalid key identifiers for Droplet creation"
Hi, there is no test for this case also, I tried many cases but all is invalid

And I don't know why we have to pass ssh keys as []interface{}

[code]

[code]

[2015-01-27 12:49] ddo commented on #17
nvm, I did not send the Droplet name

[2015-01-27 12:49] #17 closed

[2015-02-15 18:50] oliver006 opened #18 "client.Droplets.List() only returns the first droplet"
I used the example from the REDME which, after a bit of tweaking/fixing, compiles but I can't get the complete list of droplets, only the first one is returned.
I added debug statements to godo and I see two droplets in the json response, only one is decoded in godo.go:240

Ideas/suggestions?

I'm running Golang 1.4.1, here's the code:
[code]

[2015-02-20 01:07] nesv commented on #18
:+1:

I'm running into a similar issue, however I'm only ever getting the first 4 droplets.

It would appear that `resp.Links` is `nil`, for the most part.

[2015-02-20 18:10] nesv commented on #18
@oliver006 I may have found the issue! Do any of your droplets have IPv6 enabled?

To try and figure this issue out, I copied in the un-exported `dropletsRoot` struct, and used the `*godo.Client` object direcly:

[code]

Trying to run this code, should leave you with the following error: `json: cannot unmarshal number into Go value of type string`

After comparing the data returned from the `/v2/d

[2015-02-20 19:01] macb opened #21 "Droplet List/Get tests lack full json responses"
I see now our List/Get examples aren't using full json responses only a small poriton (droplet id). We should probably expand that to be a full json response from the API. Could have detected #20 sooner.

[2015-02-20 19:19] #18 closed

[2015-02-20 19:34] oliver006 commented on #18
Great catch, Nick and thanks for the fix!

[2015-02-20 20:16] nesv opened #22 "Mixed types on API v2 endpoint to create a droplet"
Looking at the V2 API, to create a droplet, it says to either specify a number if using a private image, or a string if using a public image. The `CreateDropletRequest.Image` field is of type `string`. While I haven't tested to see if this will fail, I'm just pre-emptively filing this issue in case it does limit anyone from being able to create droplets from private images.

[2015-02-20 20:17] nesv commented on #18
You're most welcome, Oliver!

[2015-02-20 20:23] macb commented on #22
Ya, the API is lenient enough that it will attempt to parse the string as an integer. We shouldn't rely on that and instead correctly marshal `CreateDropletRequest.Image` as an int/string as required.

[2015-02-20 20:46] nesv commented on #22
Frankly, I think this is more of a "no-no" on the API side. If the API is lenient enough to support numbers as strings, for private images, why not just enforce the type on the API, to always be a string?

[2015-02-20 21:06] macb commented on #22
I agree it would be best to make the API less lenient but I also think it may be a bit too late for that as other clients may not exhibit this same behavior and may correctly pass an int or a string.

Either way it would be best to change the client to correctly follow the documented behavior of:

Then if the behavior changes, we can correct the client as well.

[2015-03-04 20:21] tarsisazevedo opened #25 "Create a test server"
I think it will be good have a official test server to make easier tests with godo.
Today, to test something with godo, we need to start a fake server and mock digitalocean api.

If you guys agree I can implement it and submit a PR. :)

[2015-03-18 20:02] Netherdrake opened #30 "How do I make it use my SSH key?"
Excuse my ignorance, but when I'm creating a droplet, is there any way to tell the API which SSH key to use (from the SSH keys in my DO dash)?

I see in GoDoc that the https://github.com/digitalocean/godo/blob/master/droplets.go#L60 takes SSHKey field, but its an `[]interface{}`, so I've no idea what goes into it.
[code]

[2015-03-18 20:09] davidcelis commented on #30
Hiya! No apologies necessary, I had to do a little digging myself. You can provide an `SSHKeys` attribute to a DropletCreateRequest, [using the same signature the API takes](https://developers.digitalocean.com/documentation/v2/#create-a-new-droplet). So just provide a slice of IDs or string fingerprints:

[code]

[2015-03-18 20:17] Netherdrake commented on #30
By `ID`, you mean the resource ID (id field) of my SSH key from DigitalOcean ssh keys API? https://developers.digitalocean.com/documentation/v2/#ssh-keys

[2015-03-18 20:18] davidcelis commented on #30
Yes, that ID. Also, if you just want to use the fingerprint, you can find it like this:

[code]

[2015-03-18 20:20] Netherdrake commented on #30
Ok awesome. You're awesome.

Thanks for a super fast and helpful response.

[2015-03-18 20:20] #30 closed

[2015-03-18 20:32] davidcelis commented on #30
Glad I was able to help!

[2015-03-21 18:57] #22 closed

[2015-03-29 19:33] torstenwerner opened #35 "please support listing private snapshots"
Hi,

I think GET https://api.digitalocean.com/v2/images?private=true is not supported (or not documented?). Would it be possible to support it in the future?

Thanks,
Torsten

[2015-03-30 14:07] phillbaker commented on #35
We'll get this scheduled and will include updates on this issue, thanks for the request.

[2015-04-13 00:37] brycereitano opened #37 "Creating a droplet on a region that does not support user data."
#### The Bug
When trying to create a droplet with a region that does not support user data. The server responds with `422 Region is not available`, and there is no way of circumventing this issue through the interface provided. Aside from creating a request from scratch.
Taking a quick glance, it looks like the request is sending up
[code]
instead of
[code]

#### Steps to reproduce
At this moment

[2015-04-13 22:29] phillbaker commented on #37
Closed by #38

[2015-04-13 22:29] #37 closed

[2015-04-20 22:34] raphael opened #39 "Missing GET /v2/droplets/12345/kernels,snapshots,backups,actions,neighbors"
I couldn't find client methods in the Droplet service for:
* https://developers.digitalocean.com/documentation/v2/#list-all-available-kernels-for-a-droplet
* https://developers.digitalocean.com/documentation/v2/#list-snapshots-for-a-droplet
* https://developers.digitalocean.com/documentation/v2/#list-backups-for-a-droplet
* https://developers.digitalocean.com/documentation/v2/#list-actions-for-a-d

[2015-04-20 22:47] phillbaker commented on #39
@raphael thanks for opening the issue. Yes, at this point these endpoints have not been implemented, a PR for any of these individually or together would be great. We are working to get these gaps filled in, but don't have a definitely internal timeline right now.

[2015-04-23 18:25] raphael commented on #35
This could probably be closed now.

[2015-04-23 18:26] #39 closed

[2015-04-23 18:53] phillbaker commented on #35
Yup, thanks!

[2015-04-23 18:53] #35 closed

[2015-04-23 20:32] torstenwerner commented on #35
Thanks!

[2015-05-04 16:08] bryanl commented on #25
Hello

Using `golang.org/pkg/net/http/httptest/`, you could manage your own test server. All responses are documented at https://developers.digitalocean.com/documentation/v2. I'm not sure we'd need to create a test server.

[2015-05-09 11:05] baijum opened #48 "Project is not listed community project"
It would be good to list this project here:
https://www.digitalocean.com/community/projects/?type=api+wrappers

[2015-05-10 13:56] #25 closed

[2015-05-11 13:54] andrewsomething commented on #48
Thanks for pointing that out! It is now included on the Community projects page here:

https://www.digitalocean.com/community/projects/godo

[2015-05-11 14:02] #48 closed

[2015-05-11 20:34] #21 closed

[2015-05-23 16:45] kunalkushwaha opened #50 "Issue with RebuildByImageID() API."
Hi,

I am trying to use [RebuildByImageID(id, ImageID)](https://github.com/digitalocean/godo/blob/master/droplet_actions.go#L135) for creating a droplet from snapshot image.

Problem I am facing is with `id` param passed in API, it gives error,
[code]

What should be the value passed in `id` ?

[2015-05-26 03:36] bryanl commented on #50
You should use the id of the the droplet. You can see a sample of the JSON returned at https://developers.digitalocean.com/documentation/v2/#retrieve-an-existing-droplet-by-id.

[2015-05-26 04:23] kunalkushwaha commented on #50
Thanks for answer. I understood the issue.

Actually got confused in recreating droplet from snapshot image vs restoring droplet to a backup image.

Closing the issue.

[2015-05-26 04:23] #50 closed

[2015-07-07 16:55] vtolstov opened #59 "add ability to specify api url"
please add ability to specify api url, because some providers have DO like api to creating vps, and previously packer use handmade lib to support DO and have this ability, but in last release it switches to this library and i miss this feature.

[2015-07-07 17:02] bryanl commented on #59
You can specify the API URL by updated the `BaseURL` field of `godo.Client`. https://github.com/digitalocean/godo/blob/master/godo.go#L36

[code]

[2015-07-07 17:03] vtolstov commented on #59
Thanks!

[2015-09-17 13:23] #59 closed

[2015-09-17 13:24] bryanl opened #63 "Add debug logging for remote calls"
It may be beneficial to have a logging flag for remote calls. I'm thinking that there could be an environment variable, `GODO_DEBUG`, that would print http traffic to stderr.

[2015-10-12 02:08] jeffutter opened #68 "EditRecord call returns empty record"
It seems that when I do an EditRecord call, it is returning an empty record. My code is here: https://github.com/jeffutter/digitalocean-dyndns/blob/master/cmd/digitalocean-dyndns/main.go#L131-L132

and the output from those two lines looks like this:

`godo.Rate{Limit:0, Remaining:0, Reset:godo.Timestamp{0001-01-01 00:00:00 +0000 UTC}}
godo.DomainRecord{ID:0, Type:"", Name:"", Data:"", Priority:0,

[2016-02-16 19:56] bryanl opened #80 "Support a http context."
Add support for `golang.org/x/net/context/ctxhttp`.

[2016-03-22 23:09] aybabtme opened #83 "Allow wrapping http.Transport"
It should be possible to modify the HTTP transport, preferably per request.

[2016-03-22 23:11] aybabtme opened #84 "Encode mandatory arguments and options with Functional Options"
The calls to the client should be enforcing the requirements of the API call at compile time.

This can be achieved using functional options.

[2016-03-22 23:12] aybabtme opened #85 "Expose a method to wait for actions to finish"
There should be a way to make synchronous calls through the client. The API is currently asynchronous, while Go works better with synchronous clients. The client should handle the asynchronosity.

[2016-03-22 23:26] aybabtme opened #86 "Provide a test package"
Provide a test package that users can leverage to test against a mock of our cloud.

[2016-03-22 23:27] aybabtme opened #87 "Allow changing the base URL per-request"
It should be possible to change the base URL to point to an endpoint of one's choice. This is currently possible for the whole client, but not on a per-request basis.

[2016-03-22 23:30] aybabtme opened #88 "List pagination could be handled seamlessly"
The client could abstract list pagination behind the scene, for instance by exposing an `NextIterator` or a channel that is fed by a paginating, cancellable goroutine.

[2016-03-28 19:38] bryanl commented on #87
I'm currently visualizing how this would work. Instead of having support for more than one URL, couldn't you create multiple clients for each endpoint and use them in conjunction with each other?

[2016-04-20 14:57] bryanl opened #91 "Create a standard way to update the user agent"
User agent should be easily changed by consuming clients.

[2016-04-26 12:11] abrander commented on #63
We do something like this to print raw HTTP calls - maybe it could help other API users too:

[code]

[2016-04-26 15:07] aybabtme commented on #84
#92 is an example of how to do this, but doesn't fix this issue.

[2016-04-26 15:59] bryanl commented on #84
@aybabtme how could we fix the issue?

[2016-04-26 16:32] aybabtme commented on #84
Would have to make each interaction with the client use the pattern to enforce required vs optional arguments.  For instance:

[code]

`name`, `region` and `size` are mandatory arguments, and this is made obvious. `opts` are things like `SetSSHKey` and `SetBackups(true)`

In the current shape, this could be a func that creates a properly formed `DropletCreateRequest struct`

[code]

[2016-04-27 13:25] bryanl commented on #63
@abrander we did something similar in digitalocean/doctl, and I'm thinking about a novel way to back port it there.

[2016-06-02 19:14] troyswanson opened #95 "Block Storage Support"
Please add support for the new Block Storage feature to this client library.

[2016-06-02 20:17] aybabtme commented on #95
@troyswanson the implementation exists in https://github.com/digitalocean/godo/pull/89 but we're leaving it in a branch until the end of the beta

[2016-06-02 20:19] troyswanson commented on #95
Thank you! 👏  I'll close this issue and track #89.

[2016-06-02 20:19] #95 closed

[2016-06-14 14:36] tbalthazar opened #97 "godo.New(...) doesn't initialize the different services"
If we create a client like this:
`client, err := godo.New(aValidHTTPClientHere)`

and we try to us it like this:
`droplets, _, err := client.Droplets.List(nil)`

then it gives an error like this:
`panic: runtime error: invalid memory address or nil pointer dereference`

because the `DropletsServiceOp` struct hasn't been initialized.

Here's a full working Go program to help reproduce the issue:

[

[2016-06-14 15:16] tbalthazar opened #99 "Changing the User Agent doesn't work as expected"
If you specify a custom user agent when creating a new `Client`:
`c := godo.New(nil, godo.SetUserAgent("testing"))`

`c.UserAgent` returns the expected user agent, but the `c.NewRequest()` method doesn't use it.

Here's a full working Go program to help reproduce the issue:
[code]

[2016-06-14 15:20] #97 closed

[2016-06-14 15:25] #99 closed

[2016-07-13 04:33] collinglass commented on #88
I made this functionality by wrapping the existing List function. This is my first time contributing to this package so I might have missed something completely.

I'd like to get some comments on this code before I implement it elsewhere and send a pull request.

Is there any reason why the user should set the default per page value?

    func ListIter(done <-chan struct{}) (<-chan godo.Domain, <-

[2016-09-05 20:13] omallo opened #102 "StorageActions.Detach should accept a droplet_id"
The `StorageActions.Detach()` function does currently not accept a `droplet_id` as defined in the [HTTP API docs](https://developers.digitalocean.com/documentation/v2/#remove-a-block-storage-volume-from-a-droplet). Without a droplet ID, the POST request fails with a `"Attachment not found"` message.

[2016-09-09 14:19] aviau opened #103 "Failing tests"
Hello!

We are getting failing tests in Debian:

[code]

Any idea how to solve this?

[2016-09-09 14:22] bryanl commented on #103
Hello, I want to confirm this. What version of Debian, and what version of Go?

[2016-09-09 14:23] aviau commented on #103
go version go1.7 linux/amd64 on Debian testing

[2016-09-09 17:12] bryanl commented on #103
![3__root_d8____src_github_com_digitalocean_godo__ssh_](https://cloud.githubusercontent.com/assets/240/18395905/d048d696-768e-11e6-98f3-510e6b76cb0d.png)

What's the git sha1 of your godo? I installed the latest go, pulled master on a new debian 8.5 vm, and ran go test without any issues.

[2016-09-09 17:15] bryanl commented on #102
Hello,

Thanks for pointing this out. We'll take a look at this in the near future.

[2016-09-09 17:15] #91 closed

[2016-09-09 17:28] aviau commented on #103
I am on the last release: 0.9.0.

[2016-09-09 17:53] bryanl commented on #103
Do you know what the sha1 is?

On Fri, Sep 9, 2016 at 1:28 PM Alexandre Viau <notifications@github.com>
wrote:

[2016-09-09 17:55] aviau commented on #103
![screenshot from 2016-09-09 13-54-39](https://cloud.githubusercontent.com/assets/2706882/18397172/fbfbf272-7694-11e6-815b-40816cb04716.png)

Yes: 2a0d64a42bb60a95677748a4d5729af6184330b4

[2016-10-17 17:17] aybabtme commented on #102
@omallo are you sure the volume ID you attempted to use existed? The docs are erroneously stating that a `droplet ID` is required, when in fact the argument is optional.

[2016-10-19 09:09] omallo commented on #102
@aybabtme I just tested it with the following curl commands and I'm getting an error if I don't pass the `droplet_id` to the `detach` action (if I pass it, everything works fine):

[code]

[2016-10-19 18:44] mjsteger commented on #102
@omallo The problem there is that there is a bug in the API, where it requires either the volume_id or the droplet_id to be passed in. I'll fix that so that if either the volume_id or volume_name is passed it, it'll deduce the droplet from that.

[2016-11-07 12:17] wardviaene commented on #102
@mjsteger

I have the same issue with godo, but getting different results (still not working though):

This is how it is implemented right now in godo:

curl -sS -X POST -H "Content-Type: application/json" -d '{"type": "detach", "region": "fra1"}' -H "Authorization: Bearer $DO_API_TOKEN" https://api.digitalocean.com/v2/volumes/$VOLUMEID/actions

Which gives me:
{"id":"invalid","message":"Attachmen

[2016-11-07 14:11] wardviaene commented on #102
@bryanl @aybabtme Can the godo API at least get changed with an extra method that catches the droplet_id, as described in the docs? If DigitalOcean one day decides to have multiple droplets attached to one volume, then this API call will have bad consequences.

[2016-11-09 09:54] danstender commented on #103
Any progress on this?

[2016-11-09 15:33] andrewsomething commented on #103
All tests are passing for me on fresh Debian 8.6 install:

[code]

Are you packaging this for Debian? I'd encourage you to take a git snapshot if so. We are not currently doing tagged releases of godo. As a Debian Developer myself, I can understand how that can be inconvenient. Though using current git head is pretty standard practice in the Go community.

[2016-11-10 12:34] bryanl commented on #102
@aybabtme care to follow up again? It looks like @wardviaene is trying to whip up some Kubernetes support.

[2016-11-13 21:26] danstender commented on #103
Yes that works. Thx for the hint.

[2016-11-15 18:02] lmorais opened #109 "Fix assigned variable to networks ipv6 on loop"
https://github.com/digitalocean/godo/blob/master/droplets.go#L92

[code]

The variable assigned on loop for networks ipv6 is a little bit confuse. A better name to this variable would be `v6`. I believe that this error was a typo, but follows my suggestion. :smiley:

[code]

[2016-11-16 06:39] #102 closed

[2016-11-28 21:48] xmudrii opened #112 "What is the status of Snapshot API in godo?"
I have found out that Snapshots support Volumes and new unified API got exposed. It got announced in [Add Volume Snapshots, October 5th](https://developers.digitalocean.com/documentation/changelog/api-v2/add-volume-snapshots/).

I can't find it anywhere in code, neither I can find a Volumes Snapshot feature. Is it done and I miss it or is this something that needs to be done? I can fix this if nee

[2016-11-29 01:39] phillbaker commented on #112
See #108, about to be merged 😀

[2016-12-03 17:39] xmudrii commented on #112
Didn't noticed it at that time, my bad :+1:

[2016-12-03 17:39] #112 closed

[2016-12-11 21:45] xmudrii opened #118 "List all Droplet neighbors availability"
Is following API endpoint available in godo: https://developers.digitalocean.com/documentation/v2/#list-all-droplet-neighbors ?
I know there is endpoint to get neighbors for specific Droplet by ID, but what about this endpoint?

Not something bit used, but I'm curious and I could add it to godo if it's missing (should be very easy)

[2016-12-21 02:37] shaybix commented on #118
Were you looking for this?

https://godoc.org/github.com/digitalocean/godo#DropletsServiceOp.Neighbors

[2016-12-21 11:14] xmudrii commented on #118
As far as I see this call requires you to provide Droplet ID.
In API docs there are two Neighbors calls - with Droplet ID (for specific Droplet) and without Droplet ID (for all Droplets).

https://godoc.org/github.com/digitalocean/godo#DropletsServiceOp.Neighbors is call of [List Neighbors for a Droplet](https://developers.digitalocean.com/documentation/v2/#list-neighbors-for-a-droplet).
But there

[2017-02-28 13:52] #109 closed

[2017-03-14 12:55] klausenbusk opened #132 "Metadata api support"
The package currently provide access to all API expect the metadata API, do you plan adding support for that?
I don't need it for anything expect getting the droplet it, but maybe someone else need "the rest".

Regards Kristian

[2017-03-14 14:17] andrewsomething commented on #132
The Metadata API can be accessed via the `digitalocean/go-metadata` package.

https://github.com/digitalocean/go-metadata
https://godoc.org/github.com/digitalocean/go-metadata

[2017-03-14 14:28] klausenbusk commented on #132
Oh, I totally missed that. Sorry for the noise :)

[2017-03-14 14:28] #132 closed

[2017-03-15 15:26] vtolstov opened #134 "may be errors in marshaling DropletCreateRequest"
I check how packer send request to do servers and find, that ssh_keys passed incorrectly, documentation says, that we need to pass array of ID or fingerprints, but godo struct have not []string array or something like this, but struct , so if i have valid request via json, i can't unmarshal it using godo.DropletCreateRequest

[2017-03-15 15:31] vtolstov commented on #134
I thinkg struct need to have interface{} in this case unmarshal woks fine.

[2017-03-16 15:02] mauricio commented on #134
Hum, that looks like a bug, gonna check what's up on our end.

[2017-03-16 16:46] vtolstov commented on #134
thanks!

[2017-04-04 18:08] #103 closed

[2017-04-04 18:27] mauricio commented on #134
@vtolstov sorry for the delay, the struct that handles SSH keys takes either the ID or the fingerprint of the SSH key, can you point me to an input that's not being handled correctly?

[2017-04-04 18:30] #80 closed

[2017-04-04 18:36] #83 closed

[2017-04-04 19:50] #85 closed

[2017-05-03 07:57] radeksimko opened #142 "invalid character '<' looking for beginning of value"
Hi,
we discovered an intermittent issue (every few days) in our nightly acceptance tests for [DigitalOcean provider](https://www.terraform.io/docs/providers/do/) in [Terraform](https://github.com/hashicorp/terraform).

From time to time the API, or more specifically CloudFlare which is apparently fronting the API replies `524 Origin Time-out` with HTML body which godo can't process as it expects J

[2017-05-04 05:37] delgod opened #144 "DropletActions.Shutdown doesn't work for centos-6-x64 droplet"
DropletActions.Shutdown doesn't work for `centos-5-x64` and `centos-6-x64` droplets.
the mystical issue described in https://github.com/hashicorp/packer/issues/3919
this bug is located in godo library or on DigitalOcean API side, not in packer.

packer logic is straightforward and works fine for `centos-7-x64` droplet, but doesn't for `centos-6-x64`, `centos-5-x64`
https://github.com/hashicorp/pac

[2017-05-04 05:39] delgod commented on #144
packer debug log with the latest library
[code]

[2017-05-04 16:34] utlemming commented on #144
Try the following for your Packer config:
[code]

[2017-05-04 16:47] delgod commented on #144
@utlemming,
`shutdown_command` option in packer exists for virtualbox builder, not for digitalocean builder.
the working workaround is described in https://github.com/hashicorp/packer/issues/3919#issuecomment-251394938

[2017-05-04 17:03] joonas commented on #144
@delgod thanks for reporting this, we're digging in to see what's up. Stay tuned for updates

[2017-05-04 21:44] utlemming commented on #144
@delgod just kicked a new image that is confirmed to work. Let me know if it doesn't work for you.

[2017-05-05 07:54] delgod commented on #144
I cannot reproduce this issue anymore on `centos-6-x64` droplet

versions:
packer - https://github.com/hashicorp/packer/commit/42885279f005950e0f26aae9c001d6861e80bdbe
godo - https://github.com/digitalocean/godo/commit/83908b1ddd666d08a9b020c697b55ae3895be2fd

[2017-05-05 07:54] #144 closed

[2017-05-17 20:08] mauricio commented on #142
Yeah, retrying is tricky as we don't know if the operation can be retried, but we'll definitely fix the parsing issue so it doesn't try on a body that's clearly not JSON.

[2017-07-05 18:10] djsly opened #146 "Allow operation to be blocking"
https://github.com/terraform-providers/terraform-provider-digitalocean/issues/19

Has you can see, recently a change in the logic from the API at DO caused some issues with 3rd party app using the GODO product.

It would make sense that the GODO allow calls to be blocking, avoiding the different 3rd party app from doing polling and checking for statuses.

[2017-07-06 20:04] mauricio commented on #146
Hey @djsly, can you elaborate on what's causing the issue here?

[2017-07-07 04:42] djsly commented on #146
Hi @mauricio , sure, the issue started last week, where the deletion of the volume (storage) started returning 409. An error about the volume still being attached to a droplet.

So, even though we delete the droplet using the API, we get a 204 request, it was possible before to issue a deletion of the volume right away. Not we have to wait 3-4 sec for the droplet to be deleted for real on the DO s

[2017-08-16 22:12] prateekgogia opened #149 "Firewall portrange inconsistent for create and list"
When using the `Firewalls.Create` command, it doesn't accept TCP port range to be 0, needs to be `all`. Doing a list of firewalls, returns portRange to be "all", instead of 0. This makes it harder to reconcile, whether configuration is consistent and on the client side needs to create a mapping to create with portRange set to `all,` and expect return to be set to 0.
[code]
[code]

[2017-08-17 00:17] andrewsomething commented on #149
This is also causing issues for the Terraform provider: https://github.com/terraform-providers/terraform-provider-digitalocean/issues/30

[2017-08-17 15:40] viola commented on #149
@prateekgogia thank you for raising this issue. We're actively looking into it and discussing a solution. We'll keep you updated when a fix is in place.

[2017-08-30 09:21] klausenbusk commented on #85
Was this ever implemented?

[2017-09-15 17:37] tamalsaha opened #150 "Support object storage?"
https://www.digitalocean.com/products/storage/object-storage/

[2017-09-15 18:22] lfarnell commented on #150
@tamalsaha This won't be included until Object Storage goes GA.

[2017-09-15 18:30] tamalsaha commented on #150
Great! When is it going GA?

[2017-09-15 18:44] xmudrii commented on #150
That is still not known.

Will we have any docs (from Godo standpoint) and do you need some help from us for implementing this?
/cc @mauricio

[2017-09-20 11:04] quinncomendant commented on #37
I know this issue is a couple years old, but I thought I'd comment because I'm getting exactly the same error (`Region is not available`) with region `nyc2`. Here's the relevant output from my ansible command:

    TASK [cloud-digitalocean : Creating a droplet...] ******************************
    task path: /Users/q/src/algo/roles/cloud-digitalocean/tasks/main.yml:43
    Using module file /Users

[2017-09-20 15:06] xmudrii commented on #37
NYC2 region is currently not available for new Droplet creations. You should use other region

[2017-09-21 06:06] Electroid commented on #150
Now it's GA! 🎊 https://developers.digitalocean.com/documentation/spaces/

[2017-10-04 22:03] mauricio commented on #150
Hello folks, there are no plans to introduce the object storage API here as it's S3 compliant, right now people can just use any available S3 client to perform the operations.

[2017-10-04 22:03] #150 closed

[2017-10-30 20:20] ebusto opened #155 "When listing droplets, the Image contains an empty Slug field."
The Distribution and Name fields are set properly, but this prevents a user from easily determining the correct slug name to use when provisioning another droplet from the same image as an existing droplet.

[2017-11-21 10:06] aknuds1 commented on #142
I keep having this issue too, will at least the parsing issue be fixed? It's highly confusing when it happens.

[2018-02-02 08:31] Skarlso opened #159 "Are you looking for maintainers?"
Hi, I'm able and wiling to help out if you are looking for maintainers for this project. I don't want to see it neglected. :) You can see my profile for Go experience.

Cheers.

[2018-02-04 18:53] Skarlso opened #160 "Is this an abandoned project?"

[2018-02-04 21:14] Skarlso commented on #86
Actually you don't need that because the way the client is configured you can swap out the real deal with your own running HTTP server. You can take a look at their example tests. You can do the same if you have a library building on this, by wrapping their client into your own and than creating a test client by injecting their client.

See here: https://github.com/Skarlso/yogsothoth/blob/master/y

[2018-02-04 21:28] mauricio commented on #86
Yeah, it's also possible to use a mocking library for most of the work, this is really old stuff.

[2018-02-04 21:28] #86 closed

[2018-02-04 21:28] mauricio commented on #160
Nope, still alive and kicking.

[2018-02-04 21:28] #160 closed

[2018-02-04 21:29] mauricio commented on #159
Hey, pull requests with fixes are always welcome :)

[2018-02-04 21:29] #159 closed

[2018-02-04 22:24] Skarlso commented on #159
Thanks @mauricio! Very glad to be hearing from you. I just started building a service wrapper for godo sort of. Like cloudformation in aws. Basically describing an infrastructure in a yaml file.

The project is here if you interested.

[Yogsothoth](https://github.com/Skarlso/yogsothoth).

Cheers!

[2018-02-22 11:52] dstpierre opened #161 "Adding tag on droplet creation do not apply for firewall rules"
Hello there,

I've open a ticket that was closed via DO support, so I'm trying here.

When creating a droplet with tags via the create droplet call:

[code]

The tag are visible on the dashboard but the firewall rules that are set based on those tags are not working when creating the droplet via the API.

Create the droplet via API without the tags and applying them via the dashboard works and the

[2018-02-22 13:00] xmudrii commented on #161
While you're waiting for maintainers to get onto the issue, you can ‎tag Droplets after creation using godo. Here's the godoc for the function: https://godoc.org/github.com/digitalocean/godo#TagsServiceOp.TagResources

Do you have tags already created before applying them to the Droplet? AFAIK, API is not creating tags on Droplet creation, unlike CCP. You need to explicitly create them if they don

[2018-02-22 14:45] dstpierre commented on #161
@xmudrii yes other fixed droplets (not created via API) are already using those tags. I'll try the `TagResources` right away thanks I missed that one. Do you think I should wait the creation of the droplet before calling this or it is not required and event if droplet is not yet provisioned I can apply the tags?

[2018-02-22 14:52] xmudrii commented on #161
I usually wait for Droplets to become alive if I'm tagging them manually. But I believe tagging them right away could work, test it.

[2018-02-23 07:43] Skarlso opened #162 "Implement tagging for all resources"
Hi.

Some of the resources don't support tags atm. This makes it very difficult to group them together to a certain app and I have to either save their id somewhere or have them looked up via what droplet they are affiliated with which is cumbersome.

It would be very helpful if tags (note plural, not singular) could be used for all of them.

[2018-02-23 11:15] xmudrii commented on #162
‎Hi there,

Currently, only Droplets support tagging. There're Fleets products in the closed beta right now. Similar to tags, they allow you to group resources, but unlike tags, you can group other resources as well, such as Load Balancers, Domains, Floating IPs...

I hope that will solve your problems once it's publicly released. 

[2018-02-23 11:54] Skarlso commented on #162
Oh you mean like this: https://github.com/Skarlso/yogsothoth :)

so I just built a service like CloudFormation where you describe a "stack" in yaml like this:

[code]

Notice that Tags would be used to handle these together. So Fleets maybe helpful there.

This will create this architecture with the given firewalls and inbound outbound rules and such. Most of that there is dummy data right now.

[2018-03-01 23:45] pinepain opened #163 "Predictable release cycle"
First of all, thank you for all hard work has been done!

I'd like to clarify the state and plans of release frequency to improve visibility on this question. Currently there are some features, like #152 which was merged on Oct 4, it's 5 month ago. Current release, `1.1.1` was tagged on Sept 29, so we close to hit 6 month with it, which is half a year. I understand that you are busy there and this

[2018-03-01 23:55] pinepain commented on #149
Are there any info regards this issue or any ETA perhaps?

[2018-03-02 04:37] iheanyi commented on #161
Hey @dstpierre, could you try it again please and see if it works? A fix went out recently for this. Thank you!

[2018-03-06 15:59] mauricio commented on #163
Hey @pinepain, that's true, we need to do better at releases, will keep this in mind whenever we get stuff in here, thanks for the feedback!

[2018-03-06 15:59] #163 closed

[2018-03-06 16:25] mauricio commented on #142
Fixed vt #156.

[2018-03-06 16:25] #142 closed

[2018-03-06 18:13] pinepain commented on #163
Thanks for tagging [v1.1.2](https://github.com/digitalocean/godo/releases/tag/v1.1.2) release!

[2018-03-07 14:46] rafaelrosafu commented on #149
No ETA so far, unfortunately. We are still considering this issue, the problem is that it will break the API and we need to figure out how to minimize the impact. I know this is taking long, sorry about that.

[2018-03-07 20:25] mauricio commented on #134
Closing this for now as we haven't heard back, please comment so we can reopen if needed.

[2018-03-07 20:25] #134 closed

[2018-03-07 20:47] mauricio commented on #146
@djsly fixed the issue himself at https://github.com/terraform-providers/terraform-provider-digitalocean/pull/22

[2018-03-07 20:47] #146 closed

[2018-03-07 20:53] mauricio commented on #162
Being able to tag different resources is something we're looking forward to being able to provide, but it's still not available right now. Once it is we will definitely have an API available for it.

[2018-03-07 20:53] #162 closed

[2018-03-07 21:02] mauricio commented on #155
Hey @ebusto,

Slugs are transient, they track the latest version of an specific group of images (for instance, `ubuntu-16-04-x64` always points to the latest image for Ubuntu 16.04 we have). This makes it easy for you to follow updates to an image but doesn't produce reproducible builds, as you will be creating the next droplet from a different image and not the same one you had before, the image

[2018-03-07 21:02] #155 closed

[2018-03-07 21:08] mauricio commented on #84
We will start doing this for new API calls.

[2018-03-07 21:08] #84 closed

[2018-03-07 21:09] #87 closed

[2018-03-07 21:09] #63 closed

[2018-03-07 21:10] #88 closed

[2018-03-07 21:19] mauricio commented on #68
This is old, sadly we didn't provide any feedback tho :(

[2018-03-07 21:19] #68 closed

[2018-04-09 18:26] dstpierre commented on #161
Yes @iheanyi this is fixed. Thank you :)

[2018-04-09 18:26] #161 closed

[2018-05-10 12:17] tschwaerzl opened #167 "Example in README not functional"
`context` not existant any more.

Build error with:

[2018-05-10 12:25] xmudrii commented on #167
The `context` package has been removed #166. It's recommended to use stdlib context instead of `godo`'s one.

[2018-05-10 13:01] #167 closed

[2018-05-30 19:15] benjamin-maynard commented on #149
@rafaelrosafu Any further update?

[2018-07-18 18:11] xmudrii commented on #118
I don't think this issue is actual anymore. Closing it.

[2018-07-18 18:11] #118 closed

[2018-08-20 10:24] timdp opened #173 "Retry requests"
Per #42, I can definitely see how you wouldn't want to retry _every_ failing request. However, it would be good to have the option to do so.

In our case, the [DO Terraform provider](https://github.com/terraform-providers/terraform-provider-digitalocean) is choking on the intermittent 503s from the API, and aborting our entire deployment (in which DO is just one of the pieces) as a result.

It'd b

[2018-09-04 17:41] PI-Victor opened #180 "Add support for projects"
Heya, any plans in adding support for "projects"?

It would be very helpful to create your resources contained and organised if you want to leverage the API resource creation better. Or am i missing something?
Currently i can't even find any references in the actual API docs?

I could potentially use tags, just to give me an idea of what resources belong where.

[2018-09-04 17:52] andrewsomething commented on #180
Thanks for the request! For the moment, there is no support for projects in godo. We're working to extend the DigitalOcean API itself to support them. When that's ready, we'll be bringing support to godo as well.

We'll leave this open to track the work. So anyone interested in knowing when it lands can subscribe to this issue.

[2018-10-19 18:38] mchitten commented on #180
hey @PI-Victor, I just wanted to mention that we now have a public projects API that also has godo support. This was released in v1.6.0.

More details:
https://github.com/digitalocean/godo/pull/185
https://developers.digitalocean.com/documentation/v2/#projects--beta

[2018-10-19 18:48] #180 closed

[2018-11-03 19:01] programingnotes opened #187 "SSH Keys not attached to droplet on creation despite SSH keys being uploaded"
Hello,
I am using [Terraform](https://github.com/terraform-providers/terraform-provider-digitalocean) to spin-up a server.  When server is created, the ssh_fingerprint for a passphrase-less public/private key is attached to it.

[code]

### Terraform Version
[code]

### Affected Resource(s)
[code]

### Expectation
I am not prompted for a password when `ssh -i path/to/private/key root@droplet_ip` i

[2018-11-04 00:51] programingnotes commented on #187
Ugh! Closing error was due to misconfiguration on my part

[2018-11-04 00:51] #187 closed

[2019-01-24 22:32] alex-godwin opened #198 "EditRecord returning empty respsonse"
Same as #68, my call to `EditRecord` returns an empty `DomainRecord`. Example to reproduce:
[code]
There also is no error produced.

[2019-01-24 22:42] alex-godwin commented on #198
Doing a bit of digging, it looks like `CreateRecord` does this:

[code]

But `EditRecord` does:
[code]

By changing `EditRecord` return to what `CreateRecord` does, it works just fine. Happy to make a PR for this.

[2019-01-28 15:25] alex-godwin commented on #198
Also, can confirm it does edit the correct record on DigitalOcean so the request is correct at least.

[2019-01-29 16:29] andrewsomething commented on #198
Thanks for the report! Looks like you diagnosed the problem correctly as well. The reason that the test was failing for your PR was that the test itself was broken in such a way that it hid the issue. Should be fixed in #200

[2019-01-29 16:52] alex-godwin commented on #198
Awesome, thanks!

[2019-02-02 16:00] #198 closed

[2019-02-11 21:38] programingnotes opened #203 "naming inconsistency between volume names, mount paths, and partition paths"
### Question:
**W**hat is the convention on how external block storage devices are named and how mount points are named?

## Issue/Feature Request:
Volume names are expected to consist of only lowercase alphanumeric characters. Therefore the expectation is that the mount points and partitions follow the same convention.

#### Expectation
In essence, given a volume with naming pattern: **`first-sec

[2019-02-11 22:29] andrewsomething commented on #203
Thanks for pointing out this discrepancy in our documentation @programingnotes. We'll get the examples updated to match current behaviour. The reason for this is that our auto-formatting and auto-mounting feature relies on creating systemd mount unit files. Unfortunately, that means that hyphens can not be used in mount points.

systemd mount unit files are named `/etc/systemd/system/path-to-mount

[2019-02-11 22:29] #203 closed

[2019-02-15 03:19] slapula opened #204 "Add support for managed database service"
DigitalOcean just released their new managed database service.  It would be nice to manage those resources go-grammatically via the API: https://developers.digitalocean.com/documentation/v2/#databases

[2019-02-16 03:38] s1l3ntcat opened #205 "Progress Bar for Checking Status of Droplets"
I was recently attempting to see if it's possible to acquire a progress bar or some sort of numerical value that indicates whether the droplet is ready or not. I know there is a `status` option that informs the user whether the droplet is `in-progress` or `active` or `new`, but whenever I try to login to my droplet (when `doctl compute droplet list` shows it's active), it may take a little bit lon

[2019-03-07 12:24] Skarlso commented on #205
While a quantitative progress might not be possible it is possible to create a waiter which polls for a droplet status. When you do Get on a droplet, the returned droplet has a Status property.

From there, writing a function which waits and polls for a certain status and outputs a spinner is trivial. You just keep calling Get until the requires status is retrieved.

[code]

[2019-03-07 15:38] s1l3ntcat commented on #205
While that is a solution in certain contexts, it doesn't necessarily apply for all. For example, let's say you create a droplet and have a cloud-config script that sets up some services, installs some packages, etc on it. Now, let's say that I want to SSH into it as soon as possible. While a spinner may be OK for a vague understanding of whether the droplet is ready or not, it would be nice to kno

[2019-03-07 15:47] Skarlso commented on #205
ah thanks, I left out "create" I fixed that.

Hm. Right now looking at this library tells me that that's pretty much impossible to do without trying to SSH in at a certain frequency.

[2019-03-07 16:15] s1l3ntcat commented on #205
On the GUI, it displays a progress bar. There doesn't appear to be any quantitative value indicating *how* ready the droplet is, but either way it seems as if they do have the infrastructure to check the readiness of the droplet in a slightly more precise way than just `in-progress`, `active`, `new`, or `archived`.

[2019-03-07 16:30] Skarlso commented on #205
Oh cool. Okay then. :)

[2019-03-20 16:34] eddiezane commented on #204
Closed via #215

[2019-03-20 16:34] #204 closed

[2019-05-16 00:12] eddiezane commented on #173
This has come up again in https://github.com/terraform-providers/terraform-provider-digitalocean/issues/235. Think we need to implement this here to support Terraform properly.

[2019-05-16 00:27] eddiezane commented on #205
The way we approach this in [doctl](https://github.com/digitalocean/doctl) is the following:

https://github.com/digitalocean/doctl/blob/a14fa2c53b7c417d340d1f4d0df53d1ab489cfda/do/droplets.go#L154-L171

Which uses the `util` package right here in godo:

https://github.com/digitalocean/godo/blob/9b3bf70158c5104f5791279186ffec589ca3cfc6/util/droplet.go#L19-L57

You might be able to utilize that for

[2019-05-16 00:27] #205 closed

[2019-05-16 01:16] ojongerius commented on #173
Nice, a retry with exponential backoff would be great. I've used https://github.com/cenkalti/backoff in the past, it would fairly trivial to implement.

[2019-05-16 18:46] jeffotoni opened #232 "SDK SPACE"
we have how to use the native SPACE in godo lib? No need to use the AWS SDK for example to send files?

[2019-05-16 19:35] sunny-b commented on #232
Unfortunately, we currently don't have support for Spaces in our `godo` SDK. Our Spaces API is S3 compatible, so you can use the AWS S3 SDK.

Here is a community post on how to setup the S3 SDK: https://www.digitalocean.com/community/questions/how-to-use-digitalocean-spaces-with-the-aws-s3-sdks?answer=39593

[2019-05-17 00:10] jeffotoni commented on #232
I used it here, it worked 100%, DO SPACE is S3 underneath the cloths?

[2019-05-17 17:16] eddiezane commented on #232
@jeffotoni glad it worked! Spaces is built with a pretty rad technology named Ceph and implements an S3 compatible API.

[2019-05-17 17:16] #232 closed

[2019-05-19 21:08] jeffotoni commented on #232
@eddiezane  Thanks for the answer I was curious, it would be this little face here http://docs.ceph.com ?

[2019-06-18 14:41] andrewsomething opened #237 "Databases should provide an URN() method"
In order to simplify assigning databases to projects, databases should provide an `URN()` method that returns an URN in the format `do:dbaas:<DATABASE_ID>`. For example, see `droplets.go`:

https://github.com/digitalocean/godo/blob/3417cdfa122b0f4bb24ceaf1213a13f0574cb333/droplets.go#L129-L131

godoc: https://godoc.org/github.com/digitalocean/godo#Droplet.URN

[2019-06-18 21:40] bberenberg commented on #173
And it's causing issues for us again.

[2019-06-25 19:28] #237 closed

[2019-07-17 22:11] singron opened #243 "Monitor field of godo.Response is unused"
I was looking into using `WaitForActive`, but I noticed that it requires a monitorURI. `Response` has a `Monitor` field with the comment `// Monitoring URI`, but it seems that nothing reads or sets this value.

Should this field be removed?

Also, how do you get the monitoring URI after creating a droplet? Should you list all actions for the droplet with `Droplets.Actions(ctx, dropletID, opt)` and

[2019-07-17 22:28] andrewsomething commented on #243
Hi @singron,

The URI for the for use with `WaitForActive` is the the "action" link that can be found as part of the response. See:

https://godoc.org/github.com/digitalocean/godo#Response
https://developers.digitalocean.com/documentation/v2/#create-a-new-droplet

So your code might look something like:

[code]

[2019-08-23 13:13] mosababdo opened #248 "how to choose from marketplace for example lemp"
any way to define from marketplace item as lemp

[2019-08-28 20:19] andrewsomething opened #249 "Support tags for Databases"
The Databases API supports specifying an array of tags to be applied to the resulting database cluster. These tags are also reflected in the database object returned by the API.

https://developers.digitalocean.com/documentation/v2/#create-a-new-database-cluster

The `Database`, `DatabaseCreateRequest`, `DatabaseReplica`, and `DatabaseCreateReplicaRequest`  types should be extended with a `Tags` f

[2019-09-04 08:44] Zyqsempai commented on #249
looks interesting, I can take it!

[2019-09-13 19:34] #249 closed

[2019-10-17 07:24] aqche opened #263 "Pagination for Projects"
I am attempting to paginate though projects using the same approach as the [pagination example](https://github.com/digitalocean/godo#pagination) from the `README.md`:

[code]

The issue I noticed is that it seems like the value of `resp.Links.IsLastPage()` is always `false` due to `resp.Links.Pages.Last` always having a URI and not being empty despite being on the last page. This leads to being un

[2019-11-05 01:42] #263 closed

[2019-11-13 22:48] zachgersh commented on #243
@singron - I am going to close this for now, hopefully @andrewsomething gave you enough details. If not, please feel free to reopen!

[2019-11-13 22:48] #243 closed

[2019-12-08 05:40] aqche opened #284 "Load Balancer Tags Field Empty"
Looks like the `https://api.digitalocean.com/v2/load_balancers/<id>` endpoint response format doesn't contain a `tags` key so the [`LoadBalancer` stuct's `Tags` field](https://github.com/digitalocean/godo/blob/b4be4ac9b6cb057f1972c3f76867eae0a1b9302e/load_balancers.go#L43) will be empty when you attempt to get/list load balancers. Should the field be removed to avoid confusion?

Example Load Balan

[2019-12-18 13:48] YafimK opened #291 "is Client considered thread safe ?"
Is the Client api and more specifically droplet actions considered thread safe?

Our solution uses multiple go routines that interact via the DO api using same client, and we started to get some strange results from api (sometimes 500, and few seconds later 201 on identical api call).

We ran the solution using race and it discovered a race condition in godo.go:303 ...
So I'm guessing that the usa

[2019-12-18 16:55] hilary commented on #173
We're coming up on a fairly comprehensive review of godo. We'll look at introducing retries then.

[2019-12-18 18:02] bentranter commented on #291
Hey @YafimK, the client API and Droplet actions should be thread safe, but based on your report, it sounds like there's a bug preventing that from being true.

Is it possible for you to either,
  * Share the code that caused the issue for you, or, if that's not possible,
  * Try adding a mutex and re-running your code with the race detector again? To do this, you'd need to,
    * Add a mutex to th

[2019-12-18 18:30] bentranter commented on #284
Hey @aqche, sorry for the delay. The load balancer's create method accepts the tags field on the request and will populate it on the response, but,
  * It won't return the tags on any other response,
  * It doesn't allow the tags to be updated,
  * It doesn't allow the tags to be deleted.

This behaviour is used mostly by internal users of our API, so I definitely agree that the behaviour overall

[2019-12-20 02:06] aqche commented on #284
@bentranter good to know, thanks for the response!

[2019-12-20 02:06] #284 closed

[2019-12-22 12:59] YafimK commented on #291
Yep it did.
Unless I'm missing something, by the looks of it, the c.Rate variable is being assigned each time you parse a response, which can be received concurrently if two go routines are using same client for any API call.. That's why I asked.. we for example - "RebuildByImageId".

[2020-01-13 09:57] timoreimann opened #292 "Provide convenience methods for paging over collections"
A number of API responses return collections (i.e., a slice of objects as opposed to just a single object) that callers need to [page through](https://developers.digitalocean.com/documentation/v2/#links) in order to visit exhaustively. Examples are droplets, volumes, and Kubernetes clusters.

While [the implementation](https://github.com/digitalocean/godo#pagination) isn't necessarily complex, the

[2020-02-01 19:02] eddiezane opened #296 "Create NewFromToken function"
It currently involves several steps to create a new instance of the client.

From the README:

[code]

A user should be able to create a new client by simply importing godo and providing an API token.

[code]

Opening this to discuss an implementation.

[2020-02-21 06:09] csandanov opened #303 "Method to delete an authorized application?"
I have an app integration with DigitalOcean and when a user deletes the integration on my app I want to delete it on DigitalOcean. As I understand this could be achieved via https://developers.digitalocean.com/documentation/oauth/#revoke-token-flow, right? Currently as I understand there's no such method in the sdk.

[2020-02-21 17:36] Verolop commented on #303
Hi @csandanov !
Thanks for your report, happy to take a look to see if there's a workaround for this or if it's possible to make it happen soon :)

[2020-02-25 00:15] eddiezane commented on #296
Is there a reason we wouldn't want to recommend something like this?

[code]

[2020-02-26 00:37] andrewsomething commented on #296
FTR, I believe that this was originally a design decision around wanting to minimize the use anything outside of the standard library.

That's a moot point now as `go mod` pulls in `golang.org/x/oauth2` from the example in `util/droplet_test.go` anyways.

I'll be glad to see something like this land.

[2020-02-28 15:58] #296 closed

[2020-05-09 10:48] Vendin opened #332 "Do not use this digitalocean!"
Hi.
I have been waiting for VPC functional for several weeks. https://github.com/terraform-providers/terraform-provider-digitalocean/issues/415
When it was added, I immediately used it in my project.
And Digitalocean blocked my account without explaining the reasons and did not tell me anything.
I lost work on which I worked for several weeks.
I urge everyone to use anything AWS, GCP, Azure, but n

[2020-05-09 13:14] andrewsomething commented on #332
Hi @Vendin,

I'm sorry to hear about the problem with your DigitalOcean account. Issues on GitHub are not a good way to resolve account problems. Please reach out directly to our support team for assistance:

https://www.digitalocean.com/support/

[2020-05-09 13:14] #332 closed

[2020-05-20 19:44] andrewsomething opened #334 "Support expiry_seconds parameter on kubeconfig requests"
The `/v2/kubernetes/clusters/$K8S_CLUSTER_ID/kubeconfig` endpoint supports an `expiry_seconds` query paramater:

https://developers.digitalocean.com/documentation/v2/#retrieve-the-kubeconfig-for-a-kubernetes-cluster

godo does not currently support passing that parameter:

https://github.com/digitalocean/godo/blob/b6eed8828de88e3aca77ac351a3b98a54a6771ef/kubernetes.go#L516

In order to keep the AP

[2020-05-30 17:46] KadenLNelson opened #337 "Add support to create a non-default VPC"
There is no struct field in the [VPCCreateRequest ](https://github.com/digitalocean/godo/blob/master/vpcs.go#L31-L36) to let the operator create a VPC that is non-default.

For example, if I create a VPC in a region that doesn't have a default VPC (nyc1), then I am unable to delete the VPC because it was created as the default VPC for that region.

[2020-05-30 17:50] KadenLNelson commented on #337
Looking at the API documentation, I do not see a `default` field either to allow this functionality.

https://developers.digitalocean.com/documentation/v2/#vpcs

[2020-06-02 14:54] andrewsomething commented on #337
Currently the VPC API does not support changing the default VPC for a region, and the first VPC created in a region will become its default. I've updated the docs to make the current behavior more clear and passed along your feedback to the VPC team.

Thanks!

[2020-07-01 19:20] roidelapluie opened #343 "Add floating IP info to the droplet"
The API returns the Floating IP's but there is no way to get them via godo. That would be useful.

[2020-07-01 19:51] andrewsomething commented on #343
Hi @roidelapluie,

The `Droplet.PublicIPv4()` method is a helper that returns the first public IPv4 address for a Droplet. You can dig into the Droplet's networks to find additional IP addresses. `Droplet.Networks.v4` is a slice of `NetworkV4`

https://godoc.org/github.com/digitalocean/godo#NetworkV4

In practice, currently a Droplet can only have two public IPv4 addresses, it's assigned address a

[2020-07-01 20:02] roidelapluie commented on #343
Yes I did find out but is that guaranteed by the API docs that the second will always be the floating IP?

[2020-07-14 22:41] #291 closed

[2020-07-15 05:52] itsksaurabh opened #351 "Reuse underlying TCP connection"
https://golang.org/pkg/net/http/#Body

[code]

To ensure http.Client connection reuse, I did the following things:

- Read until Response is complete (i.e. ioutil.ReadAll(resp.Body))
- Call Body.Close() ( resp.body.Close makes the connection available for reuse by others using the same http.Client. It doesn’t close the underlying http or tcp connection.)

[2020-07-15 20:54] #351 closed

[2020-10-06 17:52] bentranter opened #375 "Run gofmt on godo's codebase"
### Overview

Right now, we have a few `gofmt` failures in our codebase.

Typically, these can fixed by running `gofmt -s -w ./` from the root of the project.

### How to fix it

1. Clone this repo.
2. If you haven't already, install Go through their [official installer](https://golang.org/dl/).
3. From the root of this project, run `gofmt -s -w ./`. The `-s` flag is short for "simplify", and will

[2020-10-06 17:52] bentranter opened #376 "Misspellings in godo"
### Overview

There is at least one misspellings in our codebase. These can be found with the Go tool [misspell](https://github.com/client9/misspell).

### How to fix it

1. Clone this repo.
2. Install the `misspell` tool – `GO111MODULE=off go get -u github.com/client9/misspell/cmd/misspell`.
3. Run `misspell` from the root of the repo. You'll see there is at least one typo.
4. Once those misspell

[2020-10-06 17:53] bentranter opened #377 "Many golint issues in godo"
### Overview

There are quite a few `golint` failures in `godo`, mostly around our doc strings.

### How to fix it

1. Clone this repo.
2. If you haven't already, install Go through their [official installer](https://golang.org/dl/).
3. If you haven't already, install the official `golint` tool by following the instructions outlined in their [repo](https://github.com/golang/lint).
4. Run `golint`

[2020-10-06 17:54] bentranter opened #378 "Cyclomatic complexity issue in tags_test.go"
### Overview

Our [Go Report Card](https://goreportcard.com/report/github.com/digitalocean/godo) reports that we have a single `gocyclo` failure in [`godo/tags_test.go:289`](https://github.com/digitalocean/godo/blob/main/tags_test.go#L289).

### How to fix it

1. Clone this repo.
2. If you haven't already, install Go through their [official installer](https://golang.org/dl/).
3. If you haben't alr

[2020-10-06 18:56] mycodeself commented on #375
Hi, I'm working on this :)

[2020-10-06 18:57] bentranter commented on #375
Awesome, thanks @mycodeself!

[2020-10-06 19:23] #375 closed

[2020-10-06 20:12] DonRenando commented on #378
Hi, i'm interested in working on it

[2020-10-06 20:45] devil-cyber commented on #376
Hey @bentranter can I work on this issue, would you like to assign this issue to me

[2020-10-06 21:41] #378 closed

[2020-10-06 21:43] bentranter commented on #376
Sure @devil-cyber, that sounds great – I'll assign this issue to you.

[2020-10-06 22:32] Redaloukil commented on #377
I would like to take this a my first contribution on this project, can you assign me for this issue ?

[2020-10-06 22:34] bentranter commented on #377
Sure @Redaloukil, I'd be happy to.

[2020-10-06 23:41] ivanlemeshev commented on #334
Hey @andrewsomething I would like to do this issue

[2020-10-07 00:00] andrewsomething commented on #334
@ivanlemeshev Go for it! Don't hesitate to ask, if you have any questions.

[2020-10-07 02:29] devil-cyber commented on #376
Thanks

On Wed, Oct 7, 2020, 3:13 AM Ben Tranter <notifications@github.com> wrote:

[2020-10-07 04:57] sidsbrmnn commented on #377
Hey @bentranter ! Is it cool if I can give this a shot?

[2020-10-07 20:02] andrewsomething commented on #334
Closed via https://github.com/digitalocean/godo/pull/382

[2020-10-07 20:02] #334 closed

[2020-10-07 21:38] Redaloukil commented on #377
@bentranter Thanks for assigning for this issue , as first step , i think i'm not very familiar with golang ecosystem , I just followed the steps and I have some question to ask you about this issue.

By applying `golint` and I got warnings like `struct field RedirectHttpToHttps should be RedirectHTTPToHTTPS` it seems like golint accepts acronyms like http , https , url ,etc.. in upper case. But s

[2020-10-07 22:20] bentranter commented on #377
Hey @Redaloukil, we already received a pull request for this issue – despite the assignment, the issues with the `hacktoberfest` label tend to be quite popular. I'm working on opening a few more hacktoberfest-friendly issues later this week, so we'd be happy to have your contribution to one of those.

[2020-10-07 22:20] #377 closed

[2020-10-08 18:11] #376 closed

[2020-10-20 19:55] bentranter opened #391 "Move godo's GitHub Actions to officially supported Go action"
### Overview

Right now, our GitHub Actions use an outdated fork of a Docker based image to run our Go tests. This isn't ideal, and we'd be better off using the official Go action from GitHub.

### How to make the change

1. In our current GitHub Action that runs our tests (https://github.com/digitalocean/godo/blob/main/.github/workflows/ci.yml), change the action we use from the outdated fork to

[2020-10-20 19:59] bentranter opened #392 "Cache dependencies between GitHub Action runs"
### Overview

It's worthwhile to use the [`cache` action](https://github.com/actions/cache) to potentially speed up our CI process.

### How to solve it

1. Add the cache step to our CI action, just below the `Checkout code` step:
[code]
2. Open a PR with your changes.

[2020-10-20 20:05] bentranter opened #393 "Add gofmt check to our CI GitHub Action"
### Overview

It's worthwhile to add a `gofmt` check to our CI GitHub Action to check that all Go code adheres to the standards set by `gofmt`.

### How to solve it

1. Ensure that the code in this repo has been formatted with `gofmt`. This can be done with `gofmt -s -w ./` from the root of the repo.
2. Add the gofmt step to our CI action, just above the "Test" step:
[code]
_(Note that we only wan

[2020-10-21 19:54] #391 closed

[2020-10-21 20:49] #393 closed

[2020-10-30 21:29] #392 closed

[2020-11-07 01:47] robsonde opened #412 "can't list custom images"
I am happy to admit I might just be doing it wrong, but my code was find a few weeks ago...

when I run this code I only get image of Type snapshot

`opt := &godo.ListOptions{
		Page:    1,
		PerPage: 400,
	}
	images, _, err := client.Images.List(ctx, opt)
`

[2020-11-08 04:22] robsonde commented on #412
update, I was doing it wrong.
\ think something has changed on the DO side of things.

`images, _, err := client.Images.List(ctx, opt)` // this is in the DO documentation but is wrong.

`images, _, err := client.Images.ListUser(ctx, opt)` // this works for custom images

[2020-11-08 04:22] #412 closed

[2020-11-09 15:17] andrewsomething commented on #412
If you don't want the public images, `Images.ListUser` is the way to go. Though custom images should also be included in the `Images.List` response. One thing to note it that 200 is the largest value that can be passed for `PerPage`. It looks like number of available public images has passed 200. So you custom images may be on the second page of the list.

[2020-11-20 15:59] renehernandez opened #415 "Method to validate AppSpec object"
When using the library, I would like to do some static checks before sending the create/update request to the DigitalOcean API. Things that could be checked without hitting the DigitalOcean API, for example:

* Two services cannot have the same routes
* An internal service cannot have a routes block

Is there any documentation or API that list the constraints when defining an App specification?

I

[2020-11-23 19:49] kamaln7 commented on #415
Hey @renehernandez thanks for the suggestion! This is in the works, I'll update this issue once it's ready.

[2020-11-27 13:31] renehernandez opened #419 "Method for spec structures to set default values"
When syncing an app specifcation without fields like `instance_size_slug` or `instance_count` declared, those fields are assigned default values during the App creation in the Platform. That logic should be baked in Spec structs (`AppStaticSiteSpec`, `AppServiceSpec`, etc). Some of the default values I have noticed:

* `scope` field in the `envs` section
* `routes` (when the `internal_ports` field

[2020-12-03 21:58] kamaln7 commented on #419
Hey @renehernandez I missed this one. This will be part of #415

[2020-12-15 20:04] andrewsomething commented on #337
The API recently has grown the capability to set a different VPC as default for a region:

https://developers.digitalocean.com/documentation/changelog/api-v2/vpc-default/

The [VPCUpdateRequest](https://github.com/digitalocean/godo/blob/05dc4d920aacfcded4808de4d5b0d7bb78793606/vpcs.go#L39) struct has been updated with the `default` field.

By setting a a different VPC as default, you can now delet

[2020-12-15 20:04] #337 closed

[2020-12-22 14:20] ammartaj53 opened #424 "Tags are not getting attached to DO Volume Snapshots"
I am creating a snapshot using "godo.SnapshotCreateRequest". Snapshots are getting created, but Tags are missing from the snapshot.

This is my output

[code]
And this is snipped from my code

[code]

Output of `doctl compute snapshot ls`. Tags are missing

[code]

It was working fine until recently. I don't know since when tags stopped working, but it was surely working just fine before

[2020-12-22 18:04] andrewsomething commented on #424
Hi @ammartaj53!

Thank you for flagging this issue for us. Our block storage team has identified the problem and has deployed a fix. It should now be available.

[2020-12-22 18:04] #424 closed

[2020-12-22 18:24] ammartaj53 commented on #424
great thanks. working again

[2021-01-12 15:49] renehernandez commented on #415
I am testing the `ProposeApp` method and I found out that it only returns the first error. For the following spec example:

[code]

It only returns the first error (the name should be at most 32 characters long), when there are 3 errors in the spec:
* spec name: at most 32 chars long
* static site name: minimum 2 chars long
* instance size slug: invalid slug (this one is not even recognized)

Ques

[2021-01-14 13:23] renehernandez commented on #415
@kamaln7 Any ideas with regards to the above points?

[2021-01-15 16:21] kamaln7 commented on #415
Hi @renehernandez, returning multiple errors at once would require a change on the backend. I'll log a ticket so we can consider making that change but for now unfortunately only the first error will be returned. We are also looking into the possibility of publishing an OpenAPI spec that could also be used for client-side validation in addition to server-side validation, but I don't an ETA on that

[2021-01-15 16:22] kamaln7 commented on #419
Merged #422 which fixes this.

[2021-01-15 16:25] #419 closed

[2021-01-15 16:29] renehernandez commented on #415
Seems reasonable. I think I will have to go down the path of implementing this on my side. Is there a way to subscribe to updates for the [App Reference](https://www.digitalocean.com/docs/app-platform/references/app-specification-reference/) so I can keep up with new changes?

[2021-01-18 17:35] kamaln7 commented on #415
I don't think there is a way to subscribe to changes to that page. It'll probably be sufficient to subscribe to godo releases.

[2021-02-06 20:46] adrianlshaw opened #435 "How to determine SSH fingerprint of Droplet instance"
During Droplet creation, the API seems to have a way of specifying the SSH identities that are authorized to access the droplet instance. This allows the droplet instance to authenticate clients.

However, I cannot find a way to get the public key fingerprint of the SSH server running on the Droplet instance. In other words, how are clients able to authenticate the instance?

[2021-02-08 15:26] andrewsomething commented on #435
The DigitalOcean API does not currently support this. If this is something you require, there are some workaround. I'd suggest looking into using `cloud-init` to either post the host key to a webhook or to provide your own host key.

https://www.digitalocean.com/community/questions/how-do-i-validate-the-ecdsa-key-fingerprint-of-my-newly-created-droplet?answer=41769

[2021-02-13 13:38] adrianlshaw commented on #435
Thanks a lot for the pointer. I was completely unaware aware of the cloud-init approach. It would be nice if the API provided an abstraction to help with this, but I understand that it might go beyond the scope of what this library provides.

[2021-04-14 18:00] houstonheat opened #445 "Add vpc_ids to Firewall API sources/destinations"
[/v2/firewalls](https://developers.digitalocean.com/documentation/v2/#firewalls) allows us to manage firewall rules with help of `sources` and `destinations` _(of direct `addresses`, `droplet_ids` , `load_balancer_uids` and `tags` )_, meanwhile DO web interface provides all these sources + available VPCs _(through `api/v1` endpoint)_.

For now `godo` and DO terraform provider can't assign VPC to f

[2021-04-14 19:32] andrewsomething commented on #445
Hi @houstonheat,

I've passed this request onto our VPC team. I can't give you a timeline yet, but it is something they are hoping to support via the API as well. In the meantime, you should be able to work around this in Terraform using something like the config below. As you can pass a CIDR range to a firewall for both sources and destinations, you can reference the `ip_range` attribute of the V

[2021-04-28 09:05] regnaio opened #447 "DropletID sometimes string or int"
In `kubernetes.go`:
[code]

Please note how `DropletID` is `string`

In `droplets.go`:
[code]

Please note how `DropletID` is expected to be passed as `int` to `Get()`

https://developers.digitalocean.com/documentation/v2/#retrieve-an-existing-droplet-by-id

[2021-05-23 14:10] Utsavk opened #455 "Enhancement request: Enhance Droplet Create API to also take project id"
I have not found the option for mentioning project id in create droplet API. As per my understanding, a created droplet is first assigned to the default project and then another API call is required for assigning it to the desired project. This can be optimized by accepting the project id as an optional input parameter of create API.
I would like to contribute for this.

[2021-05-25 17:18] ChiefMateStarbuck commented on #455
[Per my comment, ](https://github.com/digitalocean/doctl/issues/630#issuecomment-848061827) we at DO are planning how best to execute this feature. We will update the you and larger community as soon as more details become available.

[2021-06-17 14:42] csandanov commented on #303
Any updates?

[2021-06-21 16:06] andrewsomething commented on #303
Hey @csandanov,

The SDK does not currently support revoking Oauth tokens. It's something we may add in the future, but there are still some questions around how we want to approach it. In the meantime, here's a quick Go example for revoking a DigitalOcean Oauth token for anyone landing here:

[code]

[2021-07-05 13:08] rajlearner17 opened #457 "Add to fetch details of monitoring alert policies."
This will help to get details of alerts and integrate with internal custom automation and query.

[2021-08-11 08:34] bigdatasourav opened #471 "Add project information in response of list and get call of all resources."

[2021-09-20 13:58] atombrella opened #475 "Support for TTL in domain create"
https://docs.digitalocean.com/reference/api/api-reference/#operation/create_domain This misses the TTL attribute.

[2021-09-20 14:32] #475 closed

[2021-10-25 19:02] vlad2095 opened #487 "Floating IP deleting only on second time"
When I use `client.FloatingIPs.Delete(context.TODO(), ip)` it looks like on first request it did only unassigned floating IP, and on second deleted. I expect it to be deleted on first time while we have different API call to "unassign".

Or is it expected behaviour on your side?

[2021-10-28 18:07] mend-bolt-for-github opened #488 "CVE-2021-27918 (High) detected in github.com/golang/net-e086a090c8fdb9982880f0fb6e3db47af1856533"
## CVE-2021-27918 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/net-e086a090c8fdb9982880f0fb6e3db47af1856533</b></p></summary>

<p>[mirror] Go supplementary network libraries</p>
<p>

Dependency Hierarchy:
  - github.com/golang/oauth2-bf48bf16ab

[2021-10-28 18:07] mend-bolt-for-github opened #489 "CVE-2021-31525 (Medium) detected in github.com/golang/net-e086a090c8fdb9982880f0fb6e3db47af1856533"
## CVE-2021-31525 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/net-e086a090c8fdb9982880f0fb6e3db47af1856533</b></p></summary>

<p>[mirror] Go supplementary network libraries</p>
<p>

Dependency Hierarchy:
  - github.com/golang/oauth2-bf48bf16

[2021-10-28 18:08] mend-bolt-for-github opened #490 "CVE-2021-33194 (High) detected in github.com/golang/net-e086a090c8fdb9982880f0fb6e3db47af1856533"
## CVE-2021-33194 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/net-e086a090c8fdb9982880f0fb6e3db47af1856533</b></p></summary>

<p>[mirror] Go supplementary network libraries</p>
<p>

Dependency Hierarchy:
  - github.com/golang/oauth2-bf48bf16ab

[2021-10-29 00:23] #490 closed, assigned to nobody

[2021-10-29 00:23] #488 closed, assigned to nobody

[2021-10-29 00:23] #489 closed, assigned to nobody

[2021-11-01 14:51] andrewsomething commented on #447
As I mentioned in https://github.com/digitalocean/godo/pull/493, the root of the issue is that there is an inconsistency between the Droplet API and the Kubernetes API. In a Kubernetes response, the node's Droplet ID is actually a string:

https://docs.digitalocean.com/reference/api/api-reference/#operation/get_kubernetes_cluster

While it might have made sense for godo to handle this type convers

[2021-11-01 14:51] #447 closed

[2021-11-28 12:39] Deytb81 opened #502 "Account"

[2021-11-29 14:54] #502 closed

[2022-01-18 01:21] bithavoc commented on #487
I can confirm there is an issue here, or at least some undocumented new behavior.

The [`API states`](https://docs.digitalocean.com/reference/api/api-reference/#operation/delete_floating_ip):\

![image](https://user-images.githubusercontent.com/219289/149853809-6d93464c-ee9e-49d7-87e1-ca9b5728c6ee.png)

This used to work as described, but not anymore. There seems to be a new intermediate state bet

[2022-01-27 16:33] matt9mg opened #512 "Create Snapshot Missing"
https://docs.digitalocean.com/reference/api/api-reference/#operation/create_volume_snapshot

[2022-01-27 17:27] bentranter commented on #512
Hey @matt9mg, this functionality is available in `godo` using the `godoClient.Storage.CreateSnapshot` method:

[code]

[2022-01-27 17:27] #512 closed

[2022-02-07 21:03] arnav13081994 commented on #455
This would be a great addition

[2022-03-22 09:26] dm3ch opened #521 "[Feature Request] Add specifying image by name support to DropletCreateImage"
It would allow addressing self-built images via a name instead of ID, which would make working with DO easier.

P.S. Slug is not available to self-built images, as far as I found in docs.

[2022-03-31 22:55] pcman312 opened #524 "Kubernetes `surge_upgrade` field cannot be set to `false`"
tl;dr: The `SurgeUpgrade` field in [`KubernetesClusterUpdateRequest`](https://github.com/digitalocean/godo/blob/b16feac9513a6a1af15d33e1134631789e6fe20f/kubernetes.go#L90) should not have `omitempty` in the struct tags. This is preventing users from turning off `surge_upgrade` after the K8S cluster has been created.

Reproduction steps:
1. Create K8S cluster in DO. Make sure the `surge_upgrade` fi

[2022-07-27 18:42] ChiefMateStarbuck commented on #524
hello @pcman312 . thank you for the bug report. I've passed this on to the relative team and will have an answer for you shortly.

[2022-08-03 16:09] andrewsomething commented on #457
Looks like we forgot to close this issue when this feature was added in https://github.com/digitalocean/godo/pull/460

See: https://pkg.go.dev/github.com/digitalocean/godo#MonitoringServiceOp.GetAlertPolicy

[2022-08-03 16:09] #457 closed

[2022-09-13 00:24] aalllliii opened #550 "https://github.com/notxarb/openapi/tree/main"

[2022-09-13 15:23] aalllliii opened #551 "App"
H

[2022-09-16 03:23] #551 closed

[2022-09-21 17:16] mend-bolt-for-github[bot] opened #557 "CVE-2022-27664 (High) detected in github.com/golang/net-290c469a71a567d354e4abd335577aba44c4bde4"
## CVE-2022-27664 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/golang/net-290c469a71a567d354e4abd335577aba44c4bde4</b></p></summary>

<p>[mirror] Go supplementary network libraries</p>
<p>

Dependency Hierarchy:
  - github.com/golang/oauth2-9780585627

[2022-09-21 19:58] #557 closed